* {
    font-family: Arial, Helvetica, sans-serif;
}
.dark{
    background-color: #202124;

}
.light{
    background-color: rgb(255, 255, 248);
}

#base {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
}

img {
    width: 600px;
    margin-bottom: 20px;
}

input {
    width: 600px;
    height: 36px;
    text-align: center;
    font-size: larger;
    outline: none;
    border-radius: 30px;
    background-color: rgb(255, 255, 248) ;
}

button {
    margin-top: 20px;
    width: 170px;
    height: 35px;
    border: none;
    border-radius: 20px;
    font-size: large;
    background-color: #dcdcdc;
    color: rgb(33, 33, 33);
}
button:hover{
    margin-top: 20px;
    width: 170px;
    height: 35px;
    border: none;
    border-radius: 20px;
    font-size: large;
    background-color: #cdcccc;
    color: #000000;
    cursor: pointer;
}

#windowcontent{
    border: none;
    width: 300px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
#windowcontent h1{
    margin: 0px 0px;
}
#windowcontent p{
    margin: 3px 3px;
}
dialog{
    border:none ;
    border-radius: 30px;
    background-color: #f7f7f7;
    outline: none;
    width: 300px;
    height: 450px;
    
}
#error{
    color: rgb(253, 51, 51);
    margin-bottom: -5px;
}

#cep{
    border: solid rgb(173, 173, 173) 1px;
}

@media only screen and (max-width: 668px) {
    * {
        font-family: Arial, Helvetica, sans-serif;
    }
    .dark{
        background-color: #202124;
    
    }
    .light{
        background-color: rgb(255, 255, 248);
    }
    
    #base {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
        flex-direction: column;
    }
    
    img {
        width:  300px;
        margin-bottom: 20px;
    }
    
    input {
        width: 600px;
        height: 36px;
        text-align: center;
        font-size: larger;
        outline: none;
        border-radius: 30px;
        background-color: rgb(255, 255, 248) ;
    }
    
    button {
        margin-top: 20px;
        width: 170px;
        height: 35px;
        border: none;
        border-radius: 20px;
        font-size: large;
        background-color: #dcdcdc;
        color: rgb(33, 33, 33);
    }
    button:hover{
        margin-top: 20px;
        width: 170px;
        height: 35px;
        border: none;
        border-radius: 20px;
        font-size: large;
        background-color: #cdcccc;
        color: #000000;
        cursor: pointer;
    }
    
    #windowcontent{
        border: none;
        width: 250px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
       
    }
    #windowcontent h1{
        margin: 0px 0px;
    }
    #windowcontent p{
        margin: 3px 3px;
    }
    dialog{
        border:none ;
        border-radius: 30px;
        background-color: #f7f7f7;
        outline: none;
        width: 250px;
        height: 300px;
        
    }
    #error{
        color: rgb(253, 51, 51);
        margin-bottom: -5px;
    }
    #cep{
        border: solid rgb(173, 173, 173) 1px;
    }
  
    }
    

